---
import type  { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import MainLayout from "../../layouts/MainLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import SearchForm from "../../components/SearchForm.astro";
import Pagination from "../../components/Pagination.astro";
import { ARTICLES_PER_PAGE } from "../../constants";

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
                                                    .sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => 
                                                        b.data.date.valueOf() - a.data.date.valueOf()
                                                    )
const currentPage: number | null = +Astro.url.searchParams.get('page')! || 1;

const totalPages: number = Math.ceil(allBlogArticles.length / ARTICLES_PER_PAGE);

const currentPageArticles: CollectionEntry<'blog'>[] = allBlogArticles.slice(
    (currentPage - 1) * ARTICLES_PER_PAGE,
    currentPage * ARTICLES_PER_PAGE
);
---

<MainLayout title="Tech blogposts">
    <section class="container mx-auto max-w-screen-xl mt-10 px-8">
        <h1 class="text-2xl pb-3">All Articles</h1>
        <SearchForm /> <br /> <hr>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
            {currentPageArticles.slice(0, ARTICLES_PER_PAGE).map(article => (
				<ArticleCard article={article} />
			))}
        </div>

            <Pagination 
                currentPage={currentPage} 
                totalPages={totalPages} 
                disablePrev={currentPage === 1}
                disableNext={currentPage === totalPages}
            />

        </section>
</MainLayout>